.counterButton {
  background-color: #AFAFAF;
  padding: 8px 5px;
}

.counterBody {
  background-color: #D9D9D9;
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.counterVal {
  flex-grow: 2;
  text-align: center;
}
